body {
    background: black;
    z-index: 999;
    background-image: url('../images/team-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
    height: 812px;
}

@media only screen and (min-width: 320px) {
    body {
        height: 568px;
    }
}

@media only screen and (min-width: 375px) {
    body {
        height: 812px;
    }
}

@media only screen and (min-width: 414px) {
    body {
        height: 736px;
    }
}


/* @media only screen and (min-width: 768px) {
    body {
        height: 1024px;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        height: 1366px;
    }
} */